* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#redes-links {
  width: 300px; }

#carouselchacras {
  margin-top: 15px;
  margin-bottom: 15px; }

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px 10px; }

.container .card {
  max-width: 300px;
  height: 420px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 10px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out; }

.container .card:hover {
  height: 390px; }

.container .card .imgBx {
  position: relative;
  background: #fff;
  top: -60px;
  left: 20px;
  min-width: initial;
  width: 260px;
  height: 260px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.container .card .imgBx img {
  max-width: 100%;
  border-radius: 4px; }

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 0s; }

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s; }

header {
  display: flex;
  justify-content: space-around;
  height: 225px;
  flex-wrap: wrap; }

#primerback {
  background-image: url(../img/fotoheader.png); }

#segundoback {
  background-image: url(../img/Vertientes7.jpeg); }

picture {
  margin-top: 20px; }

#header-1 {
  display: flex;
  flex-direction: row;
  margin-top: 25px; }

#header-1 {
  justify-content: space-around; }

#Texto-Header {
  color: white;
  text-align: left;
  margin-left: 110px;
  margin-top: 200px; }

#botonchacras {
  margin-left: 110px; }

#img1 {
  width: 100%;
  height: 100%; }

#Seccion1 {
  height: 275px; }

.grid-1 {
  display: grid;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
  margin: 5%;
  padding-top: 5%;
  text-align: center; }

.grid-1 h6 {
  color: #fff; }

#footer-chacras {
  background-color: #E3E4E5;
  padding-top: 10px; }

#contactback {
  background-color: #F7F7F7; }

#Mapas {
  display: flex;
  justify-content: space-around;
  height: 600px;
  margin-top: 50px; }

#ubic {
  width: 600px;
  height: 353px; }

h4 {
  text-align: center; }

#ubicacion {
  margin-top: 150px;
  height: 675px; }

#nosotros {
  height: 825px; }

#fondoubicacion {
  background-image: url(../img/fondoubic.jpg); }

#fondonosotros {
  background-image: url(../img/fondonos.jpg); }

#frase-nos {
  height: 300px;
  text-align: center;
  padding-top: 100px; }

#Texto-nos {
  margin-top: 100px;
  height: 450px;
  text-align: center;
  color: white; }

#Contactanos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px; }

#contactanos-main {
  padding: 80px;
  height: 724px; }

h2 {
  text-align: center; }

.grid-2 {
  display: grid;
  grid-template-rows: 125px 250px 200px 33px;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  grid-template-areas: "area4 area5 ." "area4 area5 area1" "area4 area5 area2" " . . ."; }

.grid-item1 {
  text-align: center;
  grid-area: area1;
  color: white;
  margin-top: 80px;
  margin-right: 60px; }

.grid-item2 {
  grid-area: area2;
  color: white;
  padding-right: 15px; }

.grid-item4 {
  grid-area: area4;
  padding-left: 60px; }

.grid-item5 {
  grid-area: area5; }

#fraccion {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-top: 70px; }

#fraccionamiento {
  height: 95%;
  margin-left: 20px;
  margin-bottom: 50px; }

#fondochacras {
  background-image: url(../img/carousel/Chacrascarousel3.jpeg); }

#info-contacto {
  float: right; }

form {
  width: 50%;
  margin-right: 0; }

table {
  border: 3px solid; }

th {
  background-color: #cccccc;
  border: 1px solid; }

tr, td {
  border: 1px solid; }

.titulo {
  color: orange;
  text-align: center;
  text-decoration: underline; }

p {
  color: black; }

nav {
  width: 50%; }

ul {
  list-style-type: none; }

body {
  font-family: 'Baloo Chettan 2', cursive; }

li a {
  text-decoration: none;
  color: black; }

#seccion-1 {
  margin: 20px;
  display: inline-block;
  letter-spacing: 2rem;
  font-size: 2rem; }

footer {
  height: 150px;
  display: flex;
  justify-content: space-around; }

#redes {
  display: flex;
  flex-direction: column;
  float: right; }

#redes a {
  color: #fff; }

#footer-1 {
  height: 150px;
  width: 150px; }

#footer-1-index {
  height: 150px;
  width: 300px; }

#footer-1-index li a {
  color: #fff; }

#footer-2 p {
  margin-bottom: 0; }

#footer-ubic {
  padding-top: 15px; }

#footer-2-index p {
  margin-bottom: 0;
  color: #fff; }

#footer-2-index h5 {
  color: #fff; }

#Texto-entre-mapa h4 {
  text-align: center;
  align-items: center;
  padding-top: 60px; }

form {
  margin: 0 auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

form li + li {
  margin-top: 1em; }

label {
  display: inline-block;
  width: 90px;
  text-align: right; }

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999; }

input:focus,
textarea:focus {
  border-color: #000; }

textarea {
  vertical-align: top;
  height: 5em; }

.button {
  padding-left: 90px; }

button {
  margin-left: .5em; }

h2 a {
  color: black;
  text-decoration: none; }

@media screen and (max-width: 680px) {
  header {
    flex-direction: column; }
  nav {
    width: 100%; }
  #headerindex li a {
    color: white; }
  header picture {
    margin: 0 auto; }
  footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px; }
  .grid {
    display: flex;
    flex-direction: column;
    height: 450px; }
  .grid-1 {
    display: flex;
    flex-direction: column; }
  .grid-2 {
    display: flex;
    flex-direction: column; }
  .grid-item1 {
    margin: 0;
    text-align: center; }
  .grid-item4 {
    margin-top: 5%;
    align-self: center;
    padding-left: 0; }
  .grid-item5 {
    align-self: center;
    margin-bottom: 5%; }
  .grid-item2 {
    display: none !important; }
  #fraccion {
    margin: 0; }
  #Mapas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; }
  #ubicacion {
    margin-top: 50px;
    height: 780px; }
  #ubic {
    width: 500px;
    height: 280px; }
  #seccion-2 {
    align-items: center; }
  #img1 {
    display: flex;
    justify-content: center; }
  #Texto-entre-mapa {
    height: 15px; }
  footer nav {
    width: 150px; } }

@media screen and (max-width: 375px) {
  #header-1 {
    flex-direction: column;
    align-items: center;
    padding-left: 0; }
  header nav {
    height: 80px; }
  .grid {
    display: flex;
    flex-direction: column;
    height: 300px; }
  #img1 {
    display: flex;
    justify-content: center; }
  .grid-1 {
    display: flex;
    flex-direction: column; }
  footer {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    margin: 0; }
  .grid-2 {
    margin-top: 80px; }
  .grid-item4 {
    height: 75%;
    width: 75%;
    align-self: center; }
  #fraccionamiento {
    height: 100%;
    width: 100%; }
  .grid-item5 {
    height: 75%;
    width: 75%;
    align-self: center; }
  #fraccion {
    height: 100%;
    width: 100%; }
  #ubicacion {
    margin-top: 75px; }
  #ubic {
    width: 300px;
    height: 250px; } }
